.project
*env
*bak
*swp
/var
/cache
/venv
!salt/files/*
/public
/bin/hugo
/pipeline/node_modules
/bin/node
/bin/nodejs
/bin/npm
/bin/yarn
/bin/control.sh
/bin/docker.sh
/Dockerfile
/themes/*
*.retry
/resources/
/node_modules
